<form [formGroup]="dogForm" (submit)="record()">
  <fieldset class="d-flex flex-column">
    <label for="name">Nome</label>
    <input formControlName="name" type="text" name="name">
  </fieldset>

  <fieldset class="d-flex justify-space-between">
    <legend>Gênero</legend>

    <div>
      <input formControlName="gender" type="radio" name="gender" id="male" value="M">
      <label for="male">Macho</label>
    </div>
    <div>
      <input formControlName="gender" type="radio" name="gender" id="female" value="F">
      <label for="female">Fêmea</label>
    </div>
  </fieldset>

  <button [disabled]="dogForm.invalid" type="submit" class="button">Cadastrar</button>
</form>