<form [formGroup]="dogForm" (submit)="record()">
  <fieldset class="d-flex flex-column">
    <label class="text-left titulo-campo" for="name">Nome*</label>
    <input class="mb-3" formControlName="name" type="text" name="name">
  </fieldset>

  <fieldset class="d-flex mb-3">
    <legend class="titulo-campo">Gênero*</legend>

    <div>
      <input formControlName="gender" type="radio" name="gender" id="male" value="M">
      <label class="mr-3" for="male">Macho</label>
    </div>
    <div>
      <input formControlName="gender" type="radio" name="gender" id="female" value="F">
      <label for="female">Fêmea</label>
    </div>
  </fieldset>

  <button [disabled]="dogForm.invalid" type="submit" class="button mb-3">Cadastrar</button>
</form>

<a [routerLink]="['']">Voltar</a>